/* =========================================
    testimonials swiper
============================================ */

.testimonial {
	background-image: url(../img/heroTopDevider-2.svg),
		radial-gradient(at center center, #052157 0%, #020c2d 100%);
	background-position: top;
	background-repeat: repeat no-repeat, no-repeat;
	background-size: 500px, cover;
}

.testimonial-heading {
	font-family: "Pacifico", serif;
	letter-spacing: 3px;
	color: #d2c2ad;
}

.testimonial .box {
	border-radius: 20px;
	padding: 1rem 0.2rem 2rem;
	// box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
	background-color: transparent;
}

.testimonial .quote {
	text-align: right;
	right: 5%;
	font-size: 100px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 10;
	top: 0;
}

.testimonial .swiper-wrapper {
	align-items: center;
}

.testimonial .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	padding: 1rem;
	border-radius: 20px;
}

.custom-swiper-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 0.575rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-weight: 900;
	color: #d2c2ad;
}

.swiper-pagination {
	position: revert;
	padding-inline: 8px;
	width: auto !important;
}

.testimonial {
	.swiper-pagination-bullet {
		background-color: hsla(34, 29%, 75%, 0.5);
	}
	.swiper-pagination-bullet-active {
		background-color: #d2c2ad;
	}
}

.swiper-button-next,
.swiper-button-prev {
	top: 12px;
	position: relative;
	left: revert;
	right: revert;
	font-size: 1.25rem;
	color: #d2c2ad;
}

.swiper-slide h3 {
	font-size: 25px;
	font-weight: 700;
	color: var(--clr-white);
}
