.text-primary-400 {
	color: var(--clr-primary-400);
}
.text-primary-500 {
	color: var(--clr-primary-500);
}
.text-primary-600 {
	color: var(--clr-primary-600);
}
.text-primary-700 {
	color: var(--clr-primary-700);
}

.text-org {
	color: var(--clr-org);
}

.text-red {
	color: var(--clr-red);
}

.text-green {
	color: var(--clr-green);
}

.text-blue {
	color: var(--clr-blue);
}

.text-yel {
	color: var(--clr-yel);
}
.text-white {
	color: #fff;
}

.text-gray-300 {
	color: var(--clr-gray-300);
}
.text-gray-400 {
	color: var(--clr-gray-400);
}
.text-gray-500 {
	color: var(--clr-gray-500);
}
.text-gray-600 {
	color: var(--clr-gray-600);
}
.text-gray-700 {
	color: var(--clr-gray-700);
}
.text-gray-800 {
	color: var(--clr-gray-800);
}
